#
# Sample configuration file for the crdss server.
#
[SERVER]
    addr = 10.10.10.1
    port = 5050
    secret = srv
    loglevel = debug
    devices = /dev/nvme0n1 
    guid = 0xf45214030010a4a1

[SNIC]
    addr   = 10.10.10.2
    port   = 6000
    secret = bla

[SNIC]
    addr   = 2.3.4.5
    port   = 54321
    secret = blubb
